# Caches
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Environment
.env
.venv
env/
venv/
rbtca/

# Large Model Weights
RBTCA_Refactored/models/bert-base-uncased/pytorch_model.bin

# Datasets
datasets/

# Output
output/
*.log
*.pth
*.tar
